doctype xml
//- include ../_jadeInclude/vars.jade
datas
	data(id='0')
		name 新島 実
		port img/niijima/general/prof.png
		cont 
			:cdata
				<p> 
				いま私は出雲に来ています。ちょうど神在月で、日本国中の神様が出雲に集まってなにやら会議の最中なのです。おかげで出雲大社は大変な人出で、大きな注連縄の下は良縁を願う人々でごった返しています。注連縄は神様の世界と私たちを分ける結界の印です。注連縄は稲藁だけで作られていますが、稲は一粒の種から多くの実を生む「多産」な植物で、その力を貰うべく注連縄に使われるようになったと言われています。また稲はその生育にたくさんの水を必要としています。それでなのか大きな三つの垂れ下がった藁の塊「しめのこ」は「雨」を表し、また白い紙の「紙垂」は「雷」を表しています。雷は雨を呼ぶ現象として、つまり水を呼ぶものとして古来よりあがめられてきました。
				</p> 
				<p> 
				大注連縄の下で二拝四拍手一拝する人々を見ながら、私は古来より伝わる結界としての注連縄が、全て「水」を連想する「形」によって構成されていることに思いを巡らせていました。出雲大社の大注連縄の圧倒的な量感と、絞り上げられたその形を見ながら、祈願の場所を形にして伝えて行く人々の拘りと知恵の深さに感銘を受け、「形が持つ本来の意味」を考えさせられていました。そしてこの旅では幸運なことに、出雲大社の大注連縄を作っている人達に話を伺うこともできました。その帰り、バス停近くの田んぼの角に小さな祠があり、田の持ち主が編んだのか小さな注連縄がかけられていました。上手ではなく、また随分と雨風に当たったせいか相当に汚れているのですが、この注連縄からは「水」を願う人の思いが直接に伝わってきました。やはり上手下手だけで形を見ていると見失うことが多々あるようです。何気ないことや当たり前の物や風景の中にも本質的なことが隠れており、こちらがその気になると随分と顔を出してくれます。視覚伝達デザイン学科が最も大切にしていることなのですが、それが注連縄から見えてきました。明日は津和野です。2015年11月25日。
				</p> 

	data(id='1')
		name 後藤 吉郎
		port img/goto/general/prof.png
		cont 
			:cdata
				<p>
				私は、視覚伝達デザイン学科の前身、産業デザイン学科・商業デザイン専攻の卒業です。卒業制作では当時の卒制と比較してみると、現在のコミュニケーションデザインの置かれている状況は、多様なメディアが複雑に入り組んでいて評価が難しくなっていることです。卒業制作は、4年間の集大成であるということは当然ですが、これから解決しなければならないデザインの問題を見つけることが、最も重要です。卒業制作でそれを解決できるような簡単なものはまずないでしょうが、卒業後も持続して求めることのできるテーマを見つけることが肝要です。
				</p>
				<p>
				したがって、卒制ではそれの解決可能な道筋を少しでも見つけられれば良いのではないかと思います。そこには誰も試みたことのない自由な発想や表現が求められるので、新たな手法などの勉強の必要性も出てきますが、それは卒業してからも続くわけです。周りから理解が得られないこともあるかもしれませんが、本当に自由になるのは、そうした段階にたどり着いた後ですから常に勉強です。それから、いいデザインといわれるものは、一人でできることには限りがあります。したがって様々な分野の人が関わって、世代を超えて続けられるデザインが良いデザインであることが多いのです。そういうことから、短兵急に結果を求めることは如何なものかと思います。混迷する社会と複雑なコミュニケーション社会の中でデザインはどのようにあるべきかを今一度考えてみましょう。皆さんの健闘を祈っています。
				</p>
	data(id='2')
		name 齋藤 啓子
		port img/saito/general/prof.png
		cont 
			:cdata
				</p>
				武蔵野の背中にあたるだれも棲むことのなかったといわれるこの台地にも水の湧く窪地ありはるか昔の暮らしの痕跡が発掘されるという		
				</p>
				<p>
				その後の移住者の弛まぬかかわりあいの結果としてこの台地にも幾筋もの用水が流れ途絶えることのない恵みを手に入れ潤し冷やし洗い流し水に感謝する日々がついこの前まであったのだが流れは壁で隔たれ道に覆われ
				</p>
				<p>
				見えなくなったその流れはすでに役割を終えたのかそれとも新しいなにかを見つけたのか
				</p>
				<p>
				どこかでいまも水は湧き山はかすみ天へのぼり雲となりときには激しく渦巻いて大気をかきまぜ叩きつけるように落下し合流し流下しこの世界の大いなる循環装置として一滴のしずくあり
				</p>
				<p>
				君たちが水であるのならこれからどこへ向かうのだろうか
				</p>
	data(id='3')
		name 白井 敬尚
		port img/shirai/general/prof.png
		cont 
			:cdata
				</p>
				君達が武蔵美に入学したその日、僕自身も専任として入学式を迎えた。それまでも非常勤として授業はしていた。しかし、担当授業以外のことは初めてのことばかり。そんな僕が、君達の目にどのように映っていたのかは知る由もないが、ともかくも不安だらけのスタートだった。
				</p>
				<p>
				あれから4年が経とうとしている。この4年間が短かったのか長かったのかはわからない。けれどもその間、いつの間にか君達は、僕などが今後も知り得ることのないだろう様々な分野に足を踏み入れ、その領域間を自由に横断していた。
				</p>
				<p>
				そして気が付けば、デザイナー同士でするような話を、日常会話のように君達としている自分がいた。君達の話題はいつもキラキラしていた。それがたとえ聞き慣れた単語であったとしても、君達からその言葉が発せられると、まるで違ったもののように聞こえた。皺の入った表紙、切り損ねた小口、僅かにズレたテキストボックス、取り残された「す。」。今はそのどれもが愛おしい。そう思えるようになった4年間だった。
				</p>
				<p>
				みんな、ありがとう。
				</p>
	data(id='4')
		name 陣内 利博	
		port img/jinnouchi/general/prof.png
		cont 
			:cdata
				<p>
				水から学ぶ。自ら学ぶ。ヒトは、環境を工夫して自らが住みやすいように自然を変えることのできる珍しい生き物です。水という自然に対しても、蒸気・熱湯・氷とその形態や温度の差を活用したり、高いところに水を上げたりと太古から玉川上水や金沢の辰巳用水、現在のダムに至るように治水や利水でコントロールしようとしてきました。しかし今だに豪雨や津波のように水が起こす自然の脅威とはまだまだ向き合っていかなければなりません。水に挑んできた先人の知恵を学び、さらに挑戦し続けるヒトという生き物の存在を考えてみました。
				<p>
				</p>
				今年のゼミのキーワードはゲームとシミュラークルでした。既存の表現の真似を土台にその仕組みを知り、独自の視点と表現が誕生しました。遊びとゲームの探求からカードゲームを創る学生が2人。瀧波さんと齋藤君は全く違うアプローチでカードゲームを作ります。アニメーションの探求から、動かす仕組みあるいはキャラクターの造形、上映方法の工夫など、音と動く映像を突き詰めた8人。映像表現としてのアニメーションにこだわる見里君と刈谷君と四方田君と毛利さんと小泉さんと吉野さん。音からの映像作りに挑戦する橋本さんと宮脇君、それぞれが同じアニメーションでも形にハマらない挑戦をしています。彼らがマネして何を学び、どう表現するのか楽しみです。
				</p>
	data(id='5')
		name 寺山 祐策
		port img/terayama/general/prof.png
		cont 
			:cdata
				<p>
				今年の全体テーマは壮大だ。一方で「そんなに急いで悟らなくても良いのだよ」と老婆心ながら思う私もいる。...以下そこからの想起。私は大学1年の時、モホリ•ナジの「ザニューヴィジョン」を課題で読んだ(言わば与えられた水の一滴だった)。その時は「デザインや美術という感覚的で曖昧なものを、ここまで精緻に言語化できる人がいるのか!」とそれなりに感動し、今思えば、私が研究を続ける重要なきっかけになったのだから人生は化学反応の連続だ。40年近くたった今年、この本を再び精読する機会があった。そこで語られている造形の基礎における最も重要なものは、要約すれば「バランスと統合する能力」である。当時19才の私はそれを「様々な知識や経験を集約、まとめる能力」と字面で分かったつもりでいた。しかし、それが今回かなり間違った解釈だったと気づいた。ここで言う「統合」とは、あくまでも個人の造形経験における観察(知覚)、表現(造形)、認識(思考)の三つのシンプルな(かつ結構、簡単ではない)統合のことだったのだ。そこでは「自らの知覚と表現の関係を適切に制御できる」という実感と自覚を得ることが重要で、知識、テーマや目的の大小は問われない。むしろ本質的なこの自覚以前の先走った知識はこの統合感覚を学ぶ為には邪魔なのだとナジは言っていた。彼はそれが本当に経験されるなら、その個人が将来、多様な社会において未知の技術、新たな状況やテーマに出会っても、十分対応できる真の礎になると語っていたのだった。私は40年を経て、やっとこの言葉の本当の意味を噛みしめている。卒業制作は単なる通過点かもしれないが、まさに思考と知覚と表現の統合が問われている。
				</p>
	data(id='6')
		name 西本 企良
		port img/nishimoto/general/prof.png
		cont 
			:cdata
				<p>
				地球には豊富にある水ですが、本来水の状態で存在することはとても難しく、宇宙空間ではほとんどが氷になったり、蒸発して拡散してしまっているようです。今年度のテーマ「Be water」とはどういうことでしょうか。それは、滔々と流れ、形を変える融通無碍な水のような状態でいるために、適度な熱量で自分の体内環境をうまく保つということなのかもしれません。カッカと熱くなりすぎると蒸発してしまい形が消えてしまいます。物事に対して恐れ過ぎ消極的になると凍ってしまい、形を変えることが難しくなります。ただ水は、上手く蒸気に変えて閉じ込めれば大きなエネルギーを産み出すことが出来ますし、隙間に入り込んだ水が凍ることで岩を砕くほどの力も生まれます。確かに水のたとえはいろいろ応用できそうです。ところで、視デの教育を考えてみたとき、デザインが単に表面的な形を作るだけのものではなく、ダイナミックに社会と関わっていくものだという理念は、この学科で学ぶべきことの中核だったと思います。これから社会に出て行こうとする皆さんには、今、世界で何が起きているのか、この大変化がどういう意味をもっているのかを、若い柔軟な想像力で感じとり、自分に引きつけて考え続けてほしいと願っています。たぶんそれが、デザイナーとして活躍する際のベースになるのではないでしょうか。「流れる水は腐らない」「雨垂れ石を穿つ」のたとえもあります。目先ではなく長いスパンで物事を見つめ、自身の考えで行動に移せる人になってください。
				</p>
	data(id='7')
		name キュー・ジュリヤ
		port img/chiu/general/prof.png
		cont 
			:cdata
				<p> 
				“All fixed set patterns are incapable of adaptability
				</p>
				<p> 
				or pliability. The truth is outside of all fixed patterns.” - bruce Lee
				</p>
				<p> 
				In the evolving 21st Century, the ability to change (or be changed) to fit new environments is a crucial competency for leaders. As you aspire to be water that can shape itself to any vessel that contains it, ask yourself these questions:
				</p>
				<p> 
				What kind of water do you want to be?
				</p>
				<p> 
				Do you want to be bottled water or water in the big blue ocean?
				</p>
				<p> 
				It is much easier to acquire the skills to adapt to the changing patterns of bottled water. When you venture into the real world, I hope you will have the resilience to be water in the big blue ocean. This ability to be willing to get out of your comfort zone and march into the unknown is the mark of an authentic designer for the new Century.
				</p>
	data(id='8')
		name 古堅 真彦
		port img/furukata/general/prof.png
		cont 
			:cdata
				<p>
				奈良の田舎育ちの僕が小学5年生のときに、大阪のど真ん中の塾に通い始めて、そこで水道水をゴクって飲んだとき、びっくりするぐらい臭くてまずかったのですね。いや、びっくりするというレベルじゃなくて、大阪の人たちはこんなドブみたいな水を毎日飲んでいるのか?!死ぬんじゃないか?と本気で考えた覚えがあります。だけど、数ヶ月通ってると普通にその水を飲んでいる自分がいる。慣れというのはこわいものです。社会に出ても同じようなことがありました。だけど、あったことは覚えているのですが、なんだったかすぐに思い出せない。
				</p>
				<p>
				社会に馴染むと「ダメなこと」がだんだんと見えなくなってきます。見えないようにしているのではなく、本当に「見えなく」なってしまうのですね。つまり「ダメセンサー」が鈍ってきます。ダメセンサーが鈍ると、嫌なことを感じなくていいかもしれないけど、なにか大切なものを無くしたような気がします。ダメセンサーがはたらくこと、そしてそこを意識すること、それはとてもだいじなことで、そこからデザインやものづくりが始まると思います。みなさんは社会に出ても、意識してダメセンサーを磨き続けてください。これ不便だよ、とか、おかしいよということに気づいて、それを心にとめて、行動に移す。そして、そこからおもしろい、たのしいものをどんどん作り出してください。
				</p>
	data(id='9')
		name 本田 和男
		port img/honda/general/prof.png
		cont 
			:cdata
				<p>ホンダ丸はゼミ新造船、しかも船長は老朽で今回が処女航海だ。不安もあったろうにこの船に宝物探しの勇気ある12名の乗組員が集った。船出のさいに船長から乗組員に宝物とは何かのを話した。それぞれ今まで生きてきて今一番に深く知りたいこととは何か。大切なのは知りたいことを縦の時間軸、横の広がり軸で身をもって探ること。探って発見したことをどのように伝え、見せるかを考えること。それがぞれぞれ乗組員の宝物だ。そして2015年4月に約1年の航海に船出した。航海途中5月には乗組員の親睦も兼ねて神奈川県三崎港、8月には日常生活から離れ視野を拡げるために北海道小樽港にと寄港したが乗組員の宝物はなかなか見つからない。就活やバイトにと8月は短期の下船者もおり、夏休み中の特別補講航海技術の集まりにも参加者は2~3人であった。9月に入り台風シーズン、海は大荒れ。教室は就活者欠席多のため航海難航。東方の空にスーパームーンを仰ぎ見る9月末頃には少しづつ乗組員も落着きを取り戻してきて、このころからそれぞれの宝箱が開き始めた。これを書き留めている11月末時点のホンダ丸乗組員12名のこれから宝物になるであろう一端を紹介しておこう。犬の視覚、会話の部屋、和菓子舗、和蝋燭の時間、NPOの鳥救済組織、東京の町いまむかし、美の探求、平面の構成空間分析、創作母の衣服、友人達のイメージ、ミロの絵から、ウミウシの美。これらを宝物にするためなら何でも聞いてほしい船長はこたえるよ......提出日までまだ一週間少しある。
				</p>
				<p>
				さてさて、これからは母港(母校)から大海原に単独で船出するわけだが、社会という海は天候により波が高く思うように進めないの時もあるし、全く風のない凪もある。自ら獲得した宝物をたずさえ帆を広げて進め。
				</p>
