for val , key in {'刈谷 暢秀':0,'小泉 阿矢':1,'齋藤 椋':2,'瀧波 朱理':3,'橋本 千春':4,'見里 朝希':5,'宮脇 杜':6,'毛利 侑紀':7,'吉野 紗和':8,'四方田 知也':9,}
	li.box
		a.thumbs(href='yo#{val}.html')
			img.point(src='img/jinnouchi/#{val}/thumb_mono.png')
			div.caption
				p.name #{key}
				p.title #{val}
