-var gotoNum 	=1
-var saitoNum	=17
-var shiraiNum	=13
-var jinNum		=10
-var teraNum	=26
-var nishiNum	=3
-var chiuNum	=2
-var huruNum	=35
-var honNum		=12
-var inNum		=6
//- 0
//- 2
//- 2
//- 1
//- 4
//- 0
//- 0
//- 5
//- 1
//- 0
//- semi=0 後藤
//- semi=1 齋藤
//- semi=2 白井
//- semi=3 陣内
//- semi=4 寺山
//- semi=5 西本
//- semi=6 キュー
//- semi=7 古堅
//- semi=8 本田
//- semi=9 大学院

